/* ---- Global elements ---- */
body{
    font-family: "Open", sans-serif;
    font-size: 0.8em;
    line-height:1em;
}

ul{
    text-align: justify;
    margin: 0 auto;
    list-style: none;
}

img{
    width: 100%;
    max-width:140px;
}

/* ---- Container ---- */

.container{
    margin: 0;
    padding: 0;
    width: 100%;
}

/*  ---- Table ---- */

.styled-table { 
    border-collapse:collapse;
    table-layout:auto;

    background-color:#f4f4f4;
}

.styled-table thead tr {
    text-align: center;
    white-space:nowrap;
    

    background-color: #ca9a30ec;
    color: #414141;
}

.styled-table th,
.styled-table td {
    border:#e2e2e2 solid 1px;
    padding: 12px 12px;
}

.styled-table tbody tr {
    text-align:center;
    border-bottom: 2px solid #dddddd;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 3px solid #ca9a30ec;
}

/* --------- Styiling our custom elemnents -------- */

.LogoImage{
    min-width:150px;
}

#ReviewButton{
    font-size:16px;
    text-decoration: underline rgb(0, 145, 255);
}

.Bonus{
    font-size: 0.8em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
    min-width: 170px;

    margin-top: 18px;

    color:#7a1a1a;
}

.FeaturesList{
    font-size: 0.9em;
    font-weight:550;
    white-space: nowrap;

    margin-left:18px;

    color:#7a1a1a;
}


.FeaturesList ul li img{

    border-radius: 50%;
    width:5%;
    min-height:10px;
    min-width:10px;
    
    margin-right:18px;
}

.PlayButton{
    display:inline-block;
    border-radius:8px;
    box-sizing:border-box;
    transition: all 0.2s;
    
    font-family:'Roboto', sans-serif;
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    white-space:nowrap;

    padding:12px 26px;
    margin: 0;

    color:#ffffff;
    background-color:#4bad74;
}

.TermsNConditions{
    font-size: 0.7em;
    white-space:nowrap;

    margin: 10px 0 0 0;
}

.TermsNConditions a{
    color:#cf2929;
}

@media 
only screen and (max-width: 760px), 
(min-device-width: 768px) and (max-device-width: 1024px){
	/* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
        display: block;
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 10px solid #ccc; }
	
    td{ 
        /* Behave  like a "row" */
		border-bottom: 1px solid #eee; 
		position: relative;
        padding-left: 50%;
    }

    .Bonus{
        margin: 0;
    }

    .FeaturesList ul li{
        word-break: keep-all;
        text-align: justify;

    }

    .TermsNConditions{
        font-size: 0.6em;
        margin: 10px 0 0 0;
        white-space: nowrap;
    }
	
    td:before { 
		/* Now like a table header */
        position: relative;
		/* Top/left values mimic padding */
        width: 45%;
	}
	
    /* Label the data */
    /* We don't need to display the "Play" header since it would appear right above the "PLAY NOW" button anyway. */
	td:nth-of-type(1):before { content: "Casino";}
	td:nth-of-type(2):before { content: "Bonus"; }
    td:nth-of-type(3):before { content: "Features"; }
}