body
{
    font-family: 'Lato', sans-serif;
    font-size: 0.8em;
    line-height:1em;
}

ul
{
    list-style-type: none;
}

.container
{

    overflow:auto;
    padding:0;
    margin:0;

    width: 100%;
    min-width:30%;
}

/*  --------- Table Style ----------- */

.styled-table {
    background-color:#f4f4f4;
    border-collapse:collapse;
    align-items: center;
    box-shadow: 0 0 20px rgba(87, 82, 82, 0.15);
}

.styled-table thead tr {
    background-color: #ca9a30ec;
    color: #414141;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 10px 10px;
}

.styled-table tbody tr {
    border-bottom: 2px solid #dddddd;
    text-align:center;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 3px solid #ca9a30ec;
}

/* --------- Styiling our custom elemnents -------- */

.LogoImage
{
    min-width:150px;
}

#ReviewButton
{
    font-size:16px;
    text-decoration: underline rgb(0, 145, 255);
}

#Rating
{
    padding: 0;
    margin: 0;
    min-width:30%
}

.Bonus
{
    margin:10px;
    padding:0;
    display:inline-block;
    text-overflow:ellipsis;
    font-size: 18px;
    color:#7a1a1a;
    word-break:keep-all;
}

.FeaturesList
{
    text-align:justify;
    font-size: 16px;
    font-weight:550;
    color:#7a1a1a;
    white-space: nowrap;
}

.FeaturesList img
{
    margin-right:10px;
    border-radius: 50%;
    width:5%;
    min-height:10px;
    min-width:10px;
}

.PlayButton
{
    display:inline-block;
    padding:12px 26px;
    margin: 0;
    border-radius:8px;
    box-sizing:border-box;
    text-transform:uppercase;
    white-space:nowrap;
    font-family:'Roboto', sans-serif;
    font-weight:bold;
    color:#ffffff;
    background-color:#4bad74;
    text-align:center;
    transition: all 0.2s;
}

.TermsNConditions
{
    font-size: 0.8em;
    margin: 10px 0 0 0;
    
}

.TermsNConditions a
{
    color:#cf2929;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
        display: block;
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 10px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
        padding-left: 50%;
    }

    .FeaturesList 
    {
        text-align:center;
        word-break:keep-all;
    }

    .TermsNConditions
    {
        font-size: 0.6em;
        margin: 16px 0 0 0;
        white-space: nowrap;
    }
	
	td:before { 
		/* Now like a table header */
        position: relative;
		/* Top/left values mimic padding */
        width: 45%;

	}
	
    /* Label the data */
    /* We don't need to display the "Play" header since it would appear right above the "PLAY NOW" button anyway. */
	td:nth-of-type(1):before { content: "Casino";}
	td:nth-of-type(2):before { content: "Bonus"; }
    td:nth-of-type(3):before { content: "Features"; }
}